<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="FA" class="org.apache.log4j.FileAppender">
		<param name="File" value="/var/log/defense4all/server.log" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
<!-- 	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %m - %l%n" />
		</layout>
	</appender> -->
<!-- 	<logger name="org.opendaylight.defense4all" additivity="false">
		<level value="debug" />
		<appender-ref ref="CA" />
	</logger> -->
	
	<root>
		<level value="INFO" />
		<appender-ref ref="FA" />
	<!-- 	<appender-ref ref="CA" /> -->
	</root>
</log4j:configuration>

<!-- Spring logeers Loggers -->
<!-- <logger name="org.springframework.core"> <level value="info" /> </logger> 
	<logger name="org.springframework.beans"> <level value="info" /> </logger> 
	<logger name="org.springframework.context"> <level value="info" /> </logger> -->
